*{
    font-family: Arial, Helvetica, sans-serif;
}

div{
    height: 500px;
    width: 100%;
}

.div1{
    background-image: url(../images/dog.jpg);

   background-size: contain;
   background-position: center center;
   background-attachment: scroll;
}

.div2{
    background-image: url(../images/dog.jpg);
    background-size:150px 150px;
    background-repeat: repeat-y; 
    background-color: palegreen;
    background-position: center center;

    background-repeat: repeat-x;
    background-color:chartreuse;
    background-position: center center;

}
.shortimage{

    background: aquamarine no-repeat url(../images/dog.jpg)center center;
    background-size: 200px 200px;
}
